<h1 style="font-weight: 500">All pairs</h1>
<div style="margin-bottom: 50px"></div>




<WordsWeb.WordPairComponent.button>
  <p>Button 21</p>
</WordsWeb.WordPairComponent.button>

<WordsWeb.WordPairComponent.unordered_list pairs={@pairs} />
