<h1 style="font-weight: 500">All pairs</h1>
<span>Total learned: <%= @total_learned %></span>
<div style="margin-bottom: 50px"></div>

<!-- Reusable component? -->

<%= for pair <- @pairs do %>
    <div x-data="{ open: false }">
        <div x-on:click="open = ! open">
            <span><%= pair.eng %></span>
        </div>

        <div x-show="open">
            <span><%= pair.ru %></span>
        </div>
    </div>
    <hr/>
<% end %>
