<span>Learned</span>

<%= for pair <- @pairs do %>
    <div x-data="{ open: false }">
        <div x-on:click="open = ! open">
            <span><%= pair.eng %></span>
        </div>

        <div x-show="open">
            <span><%= pair.ru %></span>
            <%=link("Unread", to: "/#{pair.id}", method: :patch) %>
        </div>
    </div>
    <hr/>
<% end %>
